.div {
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  font-weight: 900;
  font-size: 10vw;
  color: whitesmoke;
  text-shadow: 4px 3px 8px rgba(35, 15, 9, 0.7);
}

.sticky {
  display: grid;
  align-content: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  left: 40vw;
  background-color: pink;
  min-width: 20vw;
  min-height: 10vw;
  font-weight: 900;
  font-size: 2vw;
}
