.div {
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  font-weight: 900;
  font-size: 10vw;
  color: whitesmoke;
  text-shadow: 4px 3px 8px rgba(35, 15, 9, 0.7);
}

.sticky {
  display: grid;
  align-content: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  background-color: pink;
  width: 20vw;
  min-height: 10vw;
  font-weight: 900;
  font-size: 2vw;
}

.hide1to3 {
  left: 22vw;
}

.show1to3 {
  left: 40vw;
}

.hideHeight {
  left: 65vw;
}

.hide1to3Offset {
  left: 0;
}

.show1to3Offset {
  left: 0;
}

.hideOnDiv {
  left: 40vw;
  bottom: 85vh;
}

.hideOnHeight {
  left: 18vw;
  bottom: 85vh;
}
